/* SWATCHES ---------------------------------------------------------------------- */

span.cm-attribute	{ color: #cab0ff; }
span.cm-builtin     { color: #cab0ff; }
span.cm-def			{ color: #cab0ff; }
span.cm-header      { color: #cab0ff; }
span.cm-keyword		{ color: #cab0ff; }
span.cm-qualifier	{ color: #cab0ff; }

span.cm-variable	{ color: #ffc429; }
span.cm-variable-2	{ color: #ffc429; }
span.cm-variable-3	{ color: #ffc429; }

span.cm-bracket		{ color: #6097b9; }
span.cm-tag			{ color: #6097b9; }

span.cm-atom		{ color: #6cd810; }
span.cm-number		{ color: #6cd810; }

span.cm-link		{ color: #09cdf2; }
span.cm-string		{ color: #09cdf2; }
span.cm-string-2    { color: #09cdf2; }

span.cm-meta		{ color: #f7f7f7; }
span.cm-operator	{ color: #f7f7f7; }
span.cm-property	{ color: #f7f7f7; } /* property after string */

span.cm-comment		{ color: #46668d; }
span.cm-error		{ color: #ff7fff; }


/* MISC ---------------------------------------------------------------------- */

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #161c24;
	color: #f7f7f7;
}

.CodeMirror-cursor {
	border-left: 1px solid #ff8426 !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #ff8426 !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #161c24;
	border-right: 0;
}

.CodeMirror-linenumber {
	color: #3d4855;
}

.CodeMirror-selected {
	background: #3e10bc !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #ff7fff !important;
}

.CodeMirror-activeline-background {
	background: #000 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #fff;
	background-color: #161c24 !important;
}

/* Matching */

.CodeMirror-matchingbracket {
    background: #285300 !important;
    color: #fff !important;
}

.CodeMirror-matchingtag {
    background: #1e3800 !important;
}

/* Searching */

.CodeMirror-searching {
    background-color: #ffcd2d;
    color: #000 !important;
}

.CodeMirror-searching.searching-current-match {
    background-color: #ff8500;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #161c24;
}

#image-holder {
    color: #f7f7f7;
}
